
img {
    width: 300px;
}

body {
    background-color: rgb(136, 155, 155);
}

a {
    color: rgb(207, 235, 235);
}

h1 {
    color: rgb(207, 235, 235);
}

h2 {
    color: rgb(207, 235, 235);
}

ul {
    color: rgb(207, 235, 235) 
}
